@use '../mastodon/functions' as *;
@use '../mastodon/variables' as *;

@media screen and (width <=759px) {
  .columns-area__panels__pane--navigational .columns-area__panels__pane__inner {
    display: flex;
    flex-direction: row;
  }
}

.reverse-nav {
  @media screen and (max-width: $no-gap-breakpoint - 1px) {
    .columns-area__panels__pane--navigational {
      .navigation-panel {
        border-inline-start: 0;
        border-inline-end: 1px solid var(--background-border-color);
      }
    }
  }

  @media screen and (width <=759px) {
    .columns-area__panels__pane--navigational {
      inset-inline-end: unset;
      inset-inline-start: 0;
    }

    .columns-area__panels__pane--navigational .columns-area__panels__pane__inner {
      flex-direction: row-reverse;
      inset-inline-end: 0;
      inset-inline-start: -70px;
    }
  }

  .columns-area__panels {
    flex-direction: row-reverse;
  }
}